.pixi/
__pycache__/
*.pyc

*.ipynb_checkpoints

results/
data/
data/processed/
data/processed_filter
data/test_processing/test_craters.npy
.DS_Store
.vscode/
data/processed/*.npy
code_scribbles
logs/
.snakefile
.snakefile.lock
.snakemake/